<html>
        <head>
        <title>Cotações</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">        
    </head>
</html>

{{> header}}

<h1>index...</h1>

{{> footer}}